Repository Himenon/openapi-typescript-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

chore: リリース周りの調整
  .github/workflows/build.yml
  .github/workflows/release.yml
  README.md
  example/package.json
  lerna.json
  package.json
  tools/copy-lib.js
  yarn.lock
Due: prettier --write, sort-package-json

fix: yarn.lock
  yarn.lock
Due: none

chore(release): publish
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

fix: release workflow
  .github/workflows/release.yml
Due: prettier --write

feat: pkg.versionがビルド時に反映されるようにした (#4)
  .eslintignore
  .github/workflows/build.yml
  .lintstagedrc.json
  .prettierignore
  endpoints/localhost/index.yml
  scripts/buildCode.ts
  scripts/buildDocs.ts
  scripts/clean.ts
  scripts/templates/swagger-ui/favicon-16x16.png
  scripts/templates/swagger-ui/favicon-32x32.png
  scripts/templates/swagger-ui/oauth2-redirect.html
  scripts/templates/swagger-ui/swagger-ui-bundle.js
  scripts/templates/swagger-ui/swagger-ui-es-bundle-core.js
  scripts/templates/swagger-ui/swagger-ui-es-bundle.js
  scripts/templates/swagger-ui/swagger-ui-standalone-preset.js
  scripts/templates/swagger-ui/swagger-ui.css
  scripts/templates/swagger-ui/swagger-ui.js
  scripts/tools/updateVersion.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: additionalPropertiesが自動で追加されるように修正 (#5)
  scripts/json2schema.ts
Due: prettier --write, eslint --fix

fix: 画像を更新し、class templateを更新
  build-pipeline.png
  scripts/templates/codegen/class.mustache
  scripts/templates/codegen/type.mustache
Due: none

chore: ライブらいの更新とREADMEの更新 (#6)
  .eslintrc.js
  .gitignore
  build-pipeline.png
  package.json
  scripts/buildCode.ts
  scripts/tools/generateTsCode.ts
  yarn.lock
Due: prettier --write, eslint --fix, sort-package-json

Path conditions:
  prettier --write: (any of: *.{js,jsx,json,yml,yaml,html,md}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  sort-package-json: any of: package.json
